body {
    margin: 0;
}

/* Header Div CSS */
#header-content {
    max-height: 30%;
    height: 450pt;
    width: 100%;
    text-align: center;
    background-image: url("images/AwesomeBookImage.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

/* Center the Header Information in the Header */
.header-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Logo Font Setting*/
.fancy-font {
    font-family: 'BioRhyme Expanded', sans-serif, serif;
}

/* Logo Size and Color*/
.logo-font {
    font-size: 25px;
    color: black;
}

/* Header Area Font on Index*/
.header-font {
    font-size: 60px;
    color: whitesmoke;
}

/* Cart Area Icon */
.cart-area {
    text-align: center;
    border-left: 1px solid black;
    margin-left: 10px;
    padding: 0;
}

/* Section Padding */
.section-padding-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

/* Left Margin 15 to All Nav Items*/
.nav-item {
    margin-left: 15px;
}

.item {
    max-width: 100%;
    height: auto;
    width: auto;
}

/* Work Around to Enable Google Fonts */
body {
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}